asgiref==3.8.1






Django==5.0.7
django-cors-headers==4.4.0
djangorestframework==3.15.2

importlib-metadata==4.6.4



lazr.restfulclient==0.14.4
lazr.uri==1.0.6


pillow==10.4.0


sqlparse==0.5.1


